@import "../../../styles/variables.scss";
@import "../../../styles/Keyframes.scss";

.detailsPage {
    animation: ShowPage .3s;
    min-height: calc(100vh - 78px);
    padding: .6rem 0;
    background-color: rgb(165, 192, 192);

    svg {
        width: 50px;
        position: sticky;
        top: 4rem;
        left: 1rem;
        filter: drop-shadow(0 0 12px #666);
        cursor: pointer;
    }
}

.field1,
.field2,
.field3,
.field4,
.field5,
.field6 {
    padding: .4rem 0;
    border-bottom: 1px solid $color-shadow;
}

.fields {
    width: 94%;
    min-height: 40vh;
    margin: auto;
    padding: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
}

.field1 {
    @include flex();

    span {
        @include flex();
        font-size: 1.1rem;
    }

    svg {
        width: 40px;
    }

    h2 {
        width: 70%;
    }

}


.field2 {
    @include flex();

    p {
        color: $color-red;
        text-decoration: line-through;
        font-size: 1.2rem;
    }

    span {
        &:nth-child(1) {
            font-size: 1.4rem;
            color: $color-blue2;
            font-weight: 700;
        }

        &:nth-child(2) {
            color: $color-red;
            font-weight: 700;
            margin-left: .4rem;
        }

    }

    .field2Dis {
        display: flex;
    }
}

.field3,
.field4 {
    span:nth-child(1) {
        font-size: 1.1rem;
        margin-right: .2rem;
    }
}

.field4 a {
    font-size: 1.1rem;
    text-decoration: underline;
}

.field5 {
    span {
        font-size: 1.1rem;
    }

    p {
        margin-top: .2rem;
        font-size: .9rem
    }
}

.field6 {
    @include flex(center);
    border: none;
    height: 60px;

    button {
        border: none;
        width: 80%;
        height: 30px;
        background-color: $color-blue;
        color: $color-white;
        border-radius: 4px;
        font-size: 1rem;
        overflow: hidden;
        animation: ShowB .1s;

        @include md {
            &:hover {
                background-color: $color-blue2;
            }
        }
    }
}

.field6Buttons {
    background-color: $color-blue2;
    @include flex();
    padding: .2rem;
    border-radius: 4px;
    width: 200px;
    height: 33px;
    animation: ShowB .2s;
    overflow: hidden;

    button {
        background: none;
        font-size: 1.6rem;
        height: 100%;
        overflow: unset;
    }

    svg {
        width: 24px;
    }

    span {
        font-size: 1.2rem;
    }
}