@import "../../../styles/variables.scss";
@import "../../../styles/Keyframes.scss";

.cart {
    @include mx();
    @include flex(flex-start);
    flex-direction: column;
    min-height: 90vh;
    width: 100vw;
    animation: ShowPage .1s;
}

.header {
    padding: 1rem;
    width: 100%;
    @include flex(center);
    flex-direction: column;

    h1 {
        width: fit-content;
        background-color: $color-blue2;
        color: $color-white;
        padding: .4rem 2rem;
        border-bottom-right-radius: 40px;
        border-top-left-radius: 40px;
        animation: Show .3s;
    }
}

.header_h1 {
    width: 100%;
    @include flex();

    span ,h1 ,.buyMore {
        width: 33%;
    }
    
    svg {
        width: 40px;
        cursor: pointer;
        animation: ShowPage .3s;
    }

}

.buyMore {
    @include flex(flex-end);

    p {
        width: fit-content;
        @include flex(flex-end);
        color: $color-white;
        background-color: $color-blue;
        border-bottom-right-radius: 40px;
        border-top-left-radius: 40px;
        padding: 0 .8rem;
        font-size: .8rem;
        cursor: pointer;
        
        svg {
            width: 26px;
        }

        @include md {
            &:hover {
                background-color: $color-blue2;
            }
        }
    }
}
    

.header_fields {
    width: 100%;
    background: linear-gradient(to top right, rgb(60, 120, 128), rgb(0, 191, 216));
    color: #fff;
    padding: 2rem;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 1rem;
    animation: Show .3s;

    p {
        font-size: 1.4rem;
        font-weight: 700;
    }

    span {
        font-size: 1.4rem
    }
}

.header_field1,
.header_field2 {
    @include flex();
}


.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;

    @include md {
        padding: 1rem;
    }
}

.cards_Empty {
    width: 100%;
    padding: .4rem;
    height: 200px;
    @include flex(center);
    flex-direction: column;
    animation: Show .3s;

    p {
        font-size: 1.8rem;
        color: $color-blue;
        font-weight: 700;
    }

    a {
        margin: 1rem;
        padding: .4rem 2rem;
        background-color: $color-blue2;
        color: $color-white;
        border-radius: 10px;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.checkout {
    position: fixed;
    bottom: 3rem;
    width: 360px;
    @include flex(center);
    background-color: rgba(193, 255, 255, 0.68);
    border-radius: 40px;
    box-shadow: 0 0 12px #60c3ce;
    backdrop-filter: blur(6px);
    overflow: hidden;
    // opacity: 0;
    animation: ShowS .3s;


    p {
        font-size: 1.4rem;
        font-weight: 700;
        padding: .4rem;
        animation: Show .3s;
        color: $color-blue;
    }
}

.checkout_1,
.checkout_2 {
    padding: 1rem;
    width: 50%;
    @include flex(center);

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.4rem;
        margin-left: .4rem;
        color: $color-blue;
        font-weight: 700;
    }

    button {
        border: none;
        padding: .4rem .8rem;
        background-color: $color-blue;
        color: $color-white;
        border-radius: 4px;
        font-size: 1.2rem;
    }
}
.checkout_1 {
    width: 60%;
}

// ------------------Responsive------------------
@include md {
    .header {
        width: 80%;
    }

    .cards {
        justify-content: flex-start;
    }
}

@include lg {
    .header {
        width: 50%;
    }

}