@import "../../../styles/variables.scss";
@import "../../../styles/Keyframes.scss";

.navbar {
    @include flex();
    @include mx();
    width: 100vw;
    background-color:$color-blue ;
    background: linear-gradient( to right bottom , $color-blue ,rgb(51, 75, 80));
    overflow: hidden;
    height: 54px;
    animation: ShowScrollTop .3s .2s;
    box-shadow: 0 .5px 1px $color-shadow;
    position: sticky;
    top: 0;
    z-index: 100;

    h3 {
        color: $color-white;
    }
}

.field1 {
    padding: 0 1.2rem;
    width: 10%;
}

.field2 {
    background-color: $color-white;
    padding: 0 1.2rem;
    height: 100%;
    width: 56%;
    position: relative;
    @include flex(flex-end);
    
    
    svg {
        width: 28px;
      }
    
    span {
        position: absolute;
        left: -3rem;
        width: 60px;
        flex: 1;
        display: inline-block;
        height: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: $color-white;
    }

    a:nth-child(2) {
        font-weight: 700;
        
        @include md {
            &:hover {
                color: $color-blue;
                font-size: 1.2rem;
            }
        }

    }
    .searchIcon {
        font-weight: 700;
        font-size: 1.3rem;
        width: 20px;
        margin: 0 1rem;
    }

        @include md {
            svg:hover {
                color: $color-blue;
                transform: rotate(-10deg);
                font-size: 1.4rem;
            }
        }
}

// .searchIcon {}

@include md {
    .navbar {
        h3 {
            font-size: 1.4rem;
        }
    }

    .field1 {
        width: 20%;
        padding: 0 2rem;
    }

    .field2 {
        width: 70%;
        padding: 0 6rem;

        span {
            // width: 30px;
        }
        a:nth-child(2) {
            font-size: 1.2rem;
        }          
    }
}

@include lg {
    .field2 {
        width: 80%;
    }
}