@import "../styles/Keyframes.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .1s;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(12, 91, 92);
}

li {
  list-style-type: none;
}

input {
  :focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}






