  /* ------------keyframes----------- */
  @keyframes Show {
    0% {
      opacity: .2;
      transform: translateY(-30px);
    }
  }

  @keyframes ShowB {
    0% {
      height: 0;
    }
  }

@keyframes ShowScrollTop {
  0% {
    transform: translateY(-100%);
  }  
}  

@keyframes ShowPage {
  0% {
    transform: translateX(-100%);
    opacity: .4;
  }  
}  

@keyframes UnShowPage {
  0% {
    transform: translateX(0);
  }  
  
  100% {
    transform: translateX(-100%);
  }  

}  

@keyframes ShowS {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }  
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }  

}  

@keyframes ShowEmpty {
  0% {
    transform: rotateY(90deg);
  }  
}  



