  /* ------------keyframes----------- */
  @keyframes Show {
    0% {
      opacity: .2;
      transform: translateY(-30px);
    }
  }

  @keyframes ShowW {
    0% {
      width: 0px;
      opacity: .1;
    }
  }

@keyframes ShowScrollTop {
  0% {
    transform: translateY(-100%);
  }  
}  

@keyframes ShowPage {
  0% {
    transform: translateX(-100%);
  }  
}  

@keyframes UnShowPage {
  0% {
    transform: translateX(0);
  }  
  
  100% {
    transform: translateX(-100%);
  }  

}  

